BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
SeparateDefinitionBlocks: Always
SortIncludes: Never
IncludeBlocks: Preserve
PointerAlignment: Left
DerivePointerAlignment: false
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
BreakStringLiterals: false
LineEnding: CRLF
FixNamespaceComments: false
ReflowComments: false
NamespaceIndentation: All
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
IndentCaseLabels: true
